USE [ProjectManagement[1]]]
GO
/****** Object:  Table [dbo].[Domains]    Script Date: 8/23/2025 10:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Domains](
	[Domain_ID] [int] IDENTITY(1,1) NOT NULL,
	[Domain_Name] [nvarchar](1000) NOT NULL,
	[Note] [nvarchar](3000) NOT NULL,
 CONSTRAINT [PK_Domains] PRIMARY KEY CLUSTERED 
(
	[Domain_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 8/23/2025 10:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[Lecture_ID] [nvarchar](200) NOT NULL,
	[Lecture_Name] [nvarchar](1000) NOT NULL,
	[Lecture_Sex] [nvarchar](100) NOT NULL,
	[Lecture_DateBirth] [smalldatetime] NOT NULL,
	[Lecture_Email] [nvarchar](100) NOT NULL,
	[Lecture_Phone] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Lectures] PRIMARY KEY CLUSTERED 
(
	[Lecture_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Topic]    Script Date: 8/23/2025 10:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Topic](
	[Student_ID] [nvarchar](200) NOT NULL,
	[Topic_ID] [int] NOT NULL,
 CONSTRAINT [PK_Student_Topic] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Topic_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 8/23/2025 10:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Student_ID] [nvarchar](200) NOT NULL,
	[Student_Name] [nvarchar](1000) NOT NULL,
	[Student_Sex] [nvarchar](100) NOT NULL,
	[Student_DateBirth] [smalldatetime] NOT NULL,
	[Student_Email] [nvarchar](100) NOT NULL,
	[Student_Phone] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 8/23/2025 10:59:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Topic_ID] [int] IDENTITY(1,1) NOT NULL,
	[Topic_Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](3000) NOT NULL,
	[Evaluation_Level] [nvarchar](100) NOT NULL,
	[Lecture_ID] [nvarchar](200) NOT NULL,
	[Domain_ID] [int] NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[Topic_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Domains] ON 

INSERT [dbo].[Domains] ([Domain_ID], [Domain_Name], [Note]) VALUES (1, N'AI & Machine Learning', N'Lĩnh vực phát triển các thuật toán và mô hình giúp máy tính học hỏi, đưa ra dự đoán hoặc quyết định dựa trên dữ liệu.')
INSERT [dbo].[Domains] ([Domain_ID], [Domain_Name], [Note]) VALUES (2, N'Phát triển Web', N'Quá trình xây dựng và duy trì các trang web và ứng dụng web, bao gồm cả phần front-end (giao diện người dùng) và back-end (logic phía máy chủ).')
INSERT [dbo].[Domains] ([Domain_ID], [Domain_Name], [Note]) VALUES (3, N'Internet vạn vật (IoT)', N'Mạng lưới các đối tượng vật lý—"vạn vật"—được nhúng cảm biến, phần mềm và các công nghệ khác để kết nối và trao đổi dữ liệu với các thiết bị và hệ thống khác qua internet.')
SET IDENTITY_INSERT [dbo].[Domains] OFF
GO
INSERT [dbo].[Lectures] ([Lecture_ID], [Lecture_Name], [Lecture_Sex], [Lecture_DateBirth], [Lecture_Email], [Lecture_Phone]) VALUES (N'GV001', N'Nguyễn Thị Mai', N'Nữ', CAST(N'1990-04-15T00:00:00' AS SmallDateTime), N'mainguyen@ttyy.edu', N'0912345678')
INSERT [dbo].[Lectures] ([Lecture_ID], [Lecture_Name], [Lecture_Sex], [Lecture_DateBirth], [Lecture_Email], [Lecture_Phone]) VALUES (N'GV002', N'Trần Văn Hưng', N'Nam', CAST(N'1987-09-20T00:00:00' AS SmallDateTime), N'hungtran@ttyy.edu', N'0987654321')
INSERT [dbo].[Lectures] ([Lecture_ID], [Lecture_Name], [Lecture_Sex], [Lecture_DateBirth], [Lecture_Email], [Lecture_Phone]) VALUES (N'GV003', N'Lê Hải Anh', N'Nam', CAST(N'1982-11-30T00:00:00' AS SmallDateTime), N'anhle@ttyy.edu', N'0901234567')
GO
INSERT [dbo].[Student_Topic] ([Student_ID], [Topic_ID]) VALUES (N'SV0011', 8)
INSERT [dbo].[Student_Topic] ([Student_ID], [Topic_ID]) VALUES (N'SV0032', 2)
INSERT [dbo].[Student_Topic] ([Student_ID], [Topic_ID]) VALUES (N'SV0239', 9)
GO
INSERT [dbo].[Students] ([Student_ID], [Student_Name], [Student_Sex], [Student_DateBirth], [Student_Email], [Student_Phone]) VALUES (N'SV0011', N'Nguyễn Văn Dũng', N'Nam', CAST(N'2003-03-21T00:00:00' AS SmallDateTime), N'dungnguyen@ttyy.edu', N'0911223344')
INSERT [dbo].[Students] ([Student_ID], [Student_Name], [Student_Sex], [Student_DateBirth], [Student_Email], [Student_Phone]) VALUES (N'SV0032', N'Hoàng Minh Đạt', N'Nam', CAST(N'2002-07-10T00:00:00' AS SmallDateTime), N'dathoang@ttyy.edu', N'0965432109')
INSERT [dbo].[Students] ([Student_ID], [Student_Name], [Student_Sex], [Student_DateBirth], [Student_Email], [Student_Phone]) VALUES (N'SV0239', N'Đinh Thu Hương', N'Nữ', CAST(N'2003-07-27T00:00:00' AS SmallDateTime), N'huongdinh@ttyy.edu', N'0999887766')
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Topic_ID], [Topic_Name], [Description], [Evaluation_Level], [Lecture_ID], [Domain_ID]) VALUES (1, N'Mạng nơ-ron tích chập (CNN)', N'Giới thiệu về kiến trúc CNN và ứng dụng trong nhận dạng hình ảnh.', N'Tốt', N'GV001', 1)
INSERT [dbo].[Topics] ([Topic_ID], [Topic_Name], [Description], [Evaluation_Level], [Lecture_ID], [Domain_ID]) VALUES (2, N'Lập trình cảm biến với Raspberry Pi', N'Hướng dẫn cách kết nối và lập trình các cảm biến với bo mạch Raspberry Pi.', N'Tốt', N'GV006', 3)
INSERT [dbo].[Topics] ([Topic_ID], [Topic_Name], [Description], [Evaluation_Level], [Lecture_ID], [Domain_ID]) VALUES (3, N'Kỹ thuật tấn công giả mạo', N'Phân tích các chiêu trò lừa đảo qua mạng và cách phòng tránh.', N'Xuất sắc', N'GV002', 4)
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
ALTER TABLE [dbo].[Student_Topic]  WITH CHECK ADD  CONSTRAINT [FK_Student_Topic_Students] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Students] ([Student_ID])
GO
ALTER TABLE [dbo].[Student_Topic] CHECK CONSTRAINT [FK_Student_Topic_Students]
GO
ALTER TABLE [dbo].[Student_Topic]  WITH CHECK ADD  CONSTRAINT [FK_Student_Topic_Topics] FOREIGN KEY([Topic_ID])
REFERENCES [dbo].[Topics] ([Topic_ID])
GO
ALTER TABLE [dbo].[Student_Topic] CHECK CONSTRAINT [FK_Student_Topic_Topics]
GO
